@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);

 
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

body,
input[type="text"],
button {
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace !important;
  font-size: 1.8rem !important;
  font-weight: 400 !important;
}

.todoPage {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 100vh;
  z-index: 1;
}

.todoPage.light {
  background-color: var(--color-very-light-gray);
  background-image: url(../public/pics/bg-desktop-light.jpg);
  color: var(--color-dark-grayish-blue);
}
.todoPage.light input[type="checkbox"],.todoPage.light button {
  color: var(--color-dark-grayish-blue);
}
.todoPage.light .btn.active{
  color:var(--color-very-dark-desaturated-blue);
  font-weight: 700;
}


.todoPage.dark {
  background-color: var(--color-very-dark-blue);
  background-image: url(../public/pics/bg-desktop-dark.jpg);
  color: var(--color-dark-dark-grayish-blue);
}

.mainContainer {
  max-width: 54rem;
  margin: 0 auto;
}


header {
  color: white ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
  
}
h1 {
  color: white !important;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.todoPage.dark .btn {
  color: var(--color-dark-dark-grayish-blue);
}
.todoPage.dark .btn:hover {
  color: var(--color-dark-very-dark-grayish-blue-hover);
}


.form-control {
  background-color: white;
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}
.todoPage.dark .form-control {
  background-color: var(--color-very-dark-desaturated-blue);
}
.checkboxBorderWrap{
  padding: 0.1rem;
  background: var(--color-very-light-grayish-blue);
  border-radius: 50%;
}
.todoPage.dark .checkboxBorderWrap {
  background: var(--color-dark-very-dark-grayish-blue);
}
.todoContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkbox {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: inherit;
  background-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.todoPage.dark .checkbox,
.todoPage.dark .todo-input {
  background-color: var(--color-very-dark-desaturated-blue);
}

.form-control form {
  width: 100%;
  display: flex;
}

.todo-input {
  font-size: 1.8rem;
  border: none;
}
.todo-input:focus {
  outline: none;
}
.form-control form .todo-input {
  width: 100%;
}

.filter-control-for-mobile {
  display: none;
}
.todoListSection {
  overflow-y: scroll;
  background-color: white;
  border-radius: 0.7rem;
  margin-bottom: 4.8rem;
  box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
  -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
  -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
  height: 50vh;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color:var(--color-light-grayish-blue) ;
  border-radius: 10px;
}
.todoPage.dark ::-webkit-scrollbar-thumb{
  background-color: var(--color-dark-dark-grayish-blue); ;
}
.todoPage.dark .todoListSection {
  background-color: var(--color-very-dark-desaturated-blue);
  box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  -webkit-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  -moz-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
}
.todoListSection .infoText {
  padding: 2.4rem;
  border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
}
.todoList {
  list-style: none;
}
.todoList li {
  display: flex;
  flex-direction: row;
  height: 6.4rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  gap: 2.4rem;
  border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
}
.todoList li:last-child {
  border-bottom: none;
}
.todoPage.dark li {
  border-bottom-color: var(--color-dark-very-dark-grayish-blue-hover);
}
.todoList li label,
.todoList li input[type="checkbox"] {
  display: none;
}
.todoList li.completed .checkboxBorderWrap {
  background: transparent;
}
.todoList li.completed .checkbox {
  background-image: linear-gradient(
    to bottom right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}
.todoList li.completed p {
  color: var(--color-light-grayish-blue);
  text-decoration-line: line-through;
}
.todoPage.dark .todoList li.completed p {
  color: var(--color-dark-very-dark-grayish-blue);
}

.filterControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  position: sticky;
  z-index: 1;
  border-radius:1rem;
  bottom: 40px;
}
.todoPage.dark .filterControl {
  border-top-color: var(--color-dark-very-dark-grayish-blue-hover);
}
.control-btn.group {
  display: flex;
  gap: 1rem;
}

.todoPage.dark .btn.active {
  color: var(--color-gradient-start);
  font-weight: 700;
}


@media screen and (max-width: 600px) {
  .todoPage {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .todoPage.light {
    background-image: url(../public/pics/bg-mobile-light.jpg);
  }
  .todoListSection {
    margin-bottom: 2.4rem;
  }
  .filterControl .filter-control-for-desktop {
    display: none;
  }
  .filter-control-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2.4rem;
    box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
    margin-bottom: 4.8rem; 
  }

  .todoPage.dark {
    background-image: url(../public/pics/bg-mobile-dark.jpg);
  }
  .todoPage.dark .filter-control-for-mobile {
    background-color: var(--color-very-dark-desaturated-blue);
    box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
    -webkit-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
    -moz-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
  }
}
